{% extends 'base.html' %}
{% load static %}
{% load formatters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/car_detail.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card detail-card">
        <div class="car-detail-content">
            {% if object.photo %}
                <img src="{{ object.photo.url }}" alt="{{ object.model }}" class="car-img-detail">
            {% else %}
                <img src="/media/cars/img-indisponivel.jpg" alt="Indisponível" class="car-img-detail">
            {% endif %}

            <h2>{{ object.brand }} {{ object.model }}</h2>
            
            <div class="info-grid">
                <p><strong>Ano de fabricação:</strong> {{ object.factory_year }}</p>
                <p><strong>Ano do modelo:</strong> {{ object.model_year }}</p>
                <p><strong>Placa:</strong> {{ object.plate }}</p>
                <p><strong>Preço:</strong>
                    <span {% if car.value %}
                    class="card-price"> R$ {{ car.value|br_currency }}
                    </p>
                    {% else %}
                    <p class="card-price">Sob consulta</p>
                    {% endif %}</span></p>
            </div>
            

            {% if object.bio %}
                <div class="bio-section">
                    <strong>Descrição:</strong>
                    <p>{{ object.bio }}</p>
                </div>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
            <div class="button-group">
                <a href="{% url 'car_update' pk=object.pk %}" class="btn-save">Editar</a>
                <a href="{% url 'car_delete' pk=object.pk %}" class="btn-delete">Deletar</a>
                <a href="{% url 'cars_list' %}" class="btn-cancel">Voltar</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}