{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/car_uptade.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card edit-card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <h1>Editar Carro</h1>
            
            <table class="form-table">
                {{ form.as_table }}
            </table>

            <div class="button-group">
                <input type="submit" value="Salvar Alterações" class="btn-save">
                <a href="{% url 'car_detail' pk=object.pk %}" class="btn-cancel">Cancelar</a>
                <a href="{% url 'car_delete' pk=object.pk %}" class="btn-delete">Deletar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}