{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load formatters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cars_list.css' %}">
{% endblock %}

{% block content %}
<div class="login-container list-page">
    <form method="GET" action="{% url 'cars_list' %}" class="search-form">
        <input type="text" name="search" placeholder="Buscar carro pelo modelo ou marca...">
        <button type="submit">Buscar</button>
    </form>

    <div class="car-grid">
        {% if cars %}
            {% for car in cars %}
            <a href="{% url 'car_detail' car.pk %}" class="car-link">
                <div class="car-card">
                    <div class="card-img-wrapper">
                        <img src="{{ car.photo_url }}" alt="{{ car.brand }} {{ car.model }}">
                    </div>
                    <div class="card-info">
                        <h2>{{ car.brand }} {{ car.model }}</h2>
                        <div class="card-details">
                            <p><strong>Ano:</strong> {{ car.factory_year }}</p>
                            
                            {% if car.value %}
                                <p class="card-price">
                                    R$ {{ car.value|br_currency }}
                                </p>
                            {% else %}
                                <p class="card-price">Sob consulta</p>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <div class="no-results-card">
                <p>Nenhum carro encontrado.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}