
{% extends 'base.html' %}
{% load static  %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="login-container">
    <div class="login-card">
        <h2>Acessar Conta</h2>
        
        <form method="post">
            {% csrf_token %}
            <table>
                {{ login_form.as_table }}
            </table>
            <input type="submit" value="Entrar">
        </form>

        <div class="login-footer">
            <p>Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se aqui</a></p>
        </div>
    </div>
</div>
{% endblock %}